/* Markov css debilski


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* background-image: linear-gradient(120deg, #383838, #c7c7c7);
background-image: radial-gradient(circle, rgba(237, 237, 241, 1) 0%, rgba(207, 206, 206, 1) 35%, rgba(157, 156, 156, 1) 100%);
color: whitesmoke;
font-family: 'Roboto',
sans-serif;
min-height: 100vh;
width: 100vw;

}


header {
    /* margin-top: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
    line-height: 100%;
}


h1 {
    width: 50vw;
    text-align: center;
}

#h12dolist {

    font-weight: 900;
    font-size: 12vw;
}

#h1jr {

    font-weight: 100;


}

h2 {
    color: rgb(36, 36, 36);
    text-align: center;
    margin: 0;
    font-size: 4vw;
}


header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerForm {
    background-image: radial-gradient(circle, rgba(237, 237, 241, 1) 0%, rgba(207, 206, 206, 1) 35%, rgba(157, 156, 156, 1) 100%);
    ;
    padding: 20px 0;
}

form {

    min-height: 10vh;
}

.form-container {
    margin-top: 0;
}

form input,
form button {

    padding: 0.5rem;
    font-size: 4vw;
    font-weight: 100;
    border: none;
    background: rgb(36, 36, 36);
    outline: none;
    color: whitesmoke;

}

form input {
    width: 50%;
}



form button {
    color: rgb(36, 36, 36);
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgb(83, 83, 83);
    color: whitesmoke;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.todo-list {
    min-width: 80vw;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: rgb(36, 36, 36);
    color: whitesmoke;
    font-size: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ad2905;
    color: whitesmoke;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(2, 136, 2);
}

.todo-item {
    padding: 0 2vw;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

*/


/* Edov CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(1000000deg, #1a866f, #00ffc8);
    color: linear-gradient(0deg, #070707, #ffffff);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #1a866f;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #1a866f;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #eb415d;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #1cf09f;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #1a866f;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: \25BC;
    position: absolute;
    background: #1a866f;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::after {
    background: white;
    color: #1a866f;
}